img {
	border: 1px solid #ddd;
	border-radius: 29px;
	display: inline-block;
	height: 58px;
	width: 58px;
}

h3 {
	display: inline-block;
	margin: 0 20px;
	line-height: 60px;
	vertical-align: top;
}

.btn {
	display: inline-block;
	float: right;
}

.btn.login {
	background-color: #1ED760;
}

.btn.login:hover {
	background-color: #38F17A;
}