label, input, select {
	display: block;
}

input, select {
	box-sizing: border-box;
	height: 25px;
	width: 100%;
	border: 2px solid #ddd;
	border-radius: 3px;
	margin: 10px 0;
}

.btn {
	margin-top: 10px;
	background-color: #1ED760;
}

.duration-inputs {
	display: flex;
	justify-content: space-between;
}

.duration-inputs input {
	display: inline-block;
	margin: 10px;
	width: 100%;
}

.duration-inputs input:first-of-type {
	margin-left: 0;
}