<form (ngSubmit)="onGenerate(form)" #form="ngForm">
	<label>Playlist</label>
	<select name="playlist" ngModel>
		<option *ngFor="let playlist of playlists" value="{{playlist.id}}">{{playlist.name}}</option>
	</select>
	<label>Target Duration</label>
	<div class="duration-inputs">
		<input type="number" name="duration_min" ngModel><span>min</span>
		<input type="number" name="duration_sec" ngModel><span>sec</span>
	</div>
	<label>Tolerance (ms)</label>
	<input type="number" name="tolerance" ngModel>
	<button class="btn green">Generate!</button>
</form>