label, input, select {
	display: block;
}

input, select {
	box-sizing: border-box;
	height: 25px;
	width: 200px;
	border: 2px solid #ddd;
	border-radius: 3px;
	margin: 5px 0;
}

.btn {
	margin-top: 10px;
	background-color: #1ED760;
}

.duration-inputs input {
	display: inline-block;
	margin-right: 5px;
	width: 70px;
}